<head>
  <link rel="stylesheet" href="/stylesheets/create_recipe.css" />
</head>

<div class="create-recipe">
    <form action="/createRecipe" method="POST" id="recipe-form" enctype="multipart/form-data">

        <h2>Create a recipe</h2>

        <label>Name: <br>
            <input type="text" name="name" placeholder="Required"/>
        </label>

        <br>
        <br>

        <label>Ingredients: <br><sub> Separated by a comma</sub><br>
            <input type="text" name="ingredients" class="ingredient"/>
        </label>

        <br>
        <br>

        <label>External recipe Url: <br>
            <input type="url" name="url"/>
        </label>

        <br>
        <br>

        <label>
            <input type="file" name="recipe-image" id="inputTag"/>
            <span class="img-upload-btn">Image Upload</span>
            <span id="imageName"></span>
        </label>

        <br>
        <br>

        <label>Steps: <br>
            <textarea name="steps" id="" cols="80" rows="15"></textarea>
        </label>

        <br>
        <br>

        <button type="submit">Create recipe</button>

    </form>
</div>

    <script>
        let input = document.getElementById("inputTag");
        let imageName = document.getElementById("imageName")
        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files[0];
            imageName.innerText = inputImage.name;
        })
    </script>
