<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>


<div class="index">
    <h1>WELCOME TO</h1> <br>
    <img src="images/logo_gran.png" alt="" width="500" height="163">
    <p>by Aleix Marsà & Guillem Alerany</p>
</div>

