<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>


<div class="index">
    <h1>WELCOME TO</h1> <br>
    <img src="images/logo_gran.png" alt="" width="500" height="163">
    <p id="developers">by Aleix Marsà & Guillem Alerany</p>
    <div id="icons-div">
      <div>
        <a href="https://github.com/aleixmarsa"
        ><i class="fa fa-github fa-2x"></i
        ></a>
        <a href="https://www.linkedin.com/in/aleix-marsà-sabrià-991a21141"
        ><i class="fab fa-linkedin fa-2x"></i
        ></a>
      </div>
      <div>
        <a href="https://github.com/GuilleAP"
        ><i class="fa fa-github fa-2x"></i
        ></a>
        <a href="https://www.linkedin.com/in/guillemaleranyperez/"
        ><i class="fab fa-linkedin fa-2x"></i
        ></a>
      </div>
    </div>
</div>

