<html lang="en">

  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{appTitle}}</title>
    
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"/>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>

  </head>

  <body>

    {{#if userInSession}}

      <nav>
        <ul>
            <li id="to-left">
            <p><a href="/"> Inicio </a></p>
            </li>
            <li id="to-right">
            <a href="/ingredient">Ingredient Search</a> <span> | </span>
            <form id="logout-form" action="/logout" method="POST">
              <button>Logout</button>
            </form>

            </li>
        </ul>
      </nav>
    {{else}}
        <nav>
          <ul>
              <li id="to-left">
              <p><a href="/"> Inicio </a></p>
              </li>
              <li id="to-right">
              <a href="/signup">Signup</a> <span> | </span>
              <a href="/login">Login</a> <span> | </span>

              </li>
          </ul>
        </nav>
    {{/if}}

    {{{body}}}
 
    <script src="/js/script.js"></script>
  </body>

</html>
