<head>
  <link rel="stylesheet" href="/stylesheets/user_style.css" />
</head>

<div id="form">
 
  <form action="/login" method="POST" id="formUser">

    <h2>Login</h2>
 
    <label> Email: <br>
      <input type="email" name="email" placeholder="example@example.com" />
    </label>
 
    <br>
    <br>

    <label> Password: <br>
      <input type="password" name="password" placeholder="********" />
    </label>

    <br>
    <br>
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>