@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h2 {
    color: #C56824;
}

.create-recipe {
    display: flex;
    justify-content: center;
}

#recipe-form {
    border: 2px solid #C56824;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 10px 5px #a3a19f8f;
}

#recipe-form button {
    background: #8cc643;
    border: 1px solid #8cc643;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 40%;
}

.img-upload-btn{
    background: #8cc643;
    border: 1px solid #8cc643;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;    
}

input[type='file']{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

#imageName{
    color:#C56824;
  }

  .error {
    background: #a83a07;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }