@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.create-recipe {
    display: flex;
    justify-content: center;
}

#recipe-form {
    border: 1px solid #EADEB8;
    background-color: #EADEB8;
    border-radius: 15px;
    padding: 30px;
}