@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.index {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding-top: 50px
}

.index h1 {
	font-family: 'quicksand';
    font-size: 50px;
    color: #C56824;
}

.index p {
	color: #83807e;
}

#icons-div{

	width: 220px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.fa{
	color: #83807e;
}

.fab{
	color: #83807e;

}

#developers{
	margin-top: 50px;
}