.proves {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

a i {
    text-decoration: none;
    color: black;
}

#ingredients {
    border: 1px solid #EADEB8;
    background-color: #EADEB8;
    border-radius: 15px;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

#containerID {
    border: 1px solid #EADEB8;
    background-color: #EADEB8;
    border-radius: 15px;
    padding: 30px;
    list-style-type: none;
    height: 120px;
}

#ingredients button {
    background: #C56824;
    border: 1px solid #C56824;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
}