@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h3 {
    color: #C56824;
}

a, span {
    color: #8cc643;
}

.recipes {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    gap: 20px;
    padding: 50px;
}

.recipe-box {
    border: 2px solid #C56824;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 10px 5px #a3a19f8f;
}


