<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST" id="signup-form">
 
    <label> Username: <br>
      <input type="text" name="name" placeholder="example" />
    </label>
 
    <br>
    <br>

    <label> Email: <br>
      <input type="email" name="email" placeholder="example@example.com" />
    </label>

    <br>
    <br>

    <label> Password: <br>
      <input type="password" name="password" placeholder="********" />
    </label>

    <br>
    <br>
 
    <button type="submit">Create account</button>

  </form>
</div>